<ion-view hide-nav-bar="true">

    <div class="center-text" style="margin-top:50%;">
      <h1 class="title-light">Escollate</h1>

      <!-- <img src="img/icon_retina5_144.png"> -->
    </div>
    <div class="bottom-container center-text">
      <button class="button button-block button-assertive button-facebook" style="font-weight:300;" ng-click="connectWithProvider('google')">Connect with Google</button>
      <button class="button button-block button-positive button-google" style="font-weight:300;" ng-click="connectWithProvider('facebook')">Connect with Facebook</button>
    </div>
</ion-view>
