<ion-view title="Dashboard" hide-back-button="true" hide-nav-bar="false">



  <!-- <div id="bottom-nav" class="bottom-container center-text bar bar-positive no-animation">
    <button class="button button-clear button-left" ui-sref="questions">Ask</button>
    <button class="button button-clear button-right" ui-sref="dash">Dash</button>
  </div> -->
  <ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Ask" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
    <!-- Tab 1 content -->
    <div class="list has-nav-header">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear no-margin">
          <i class="icon ion-ios7-close-outline"></i>
        </button>
      </div>

      <a class="item">
        <h2 class="question-item title">How do I look for a loan?</h2>
        <p class="question-item author">Scott Prue</p>
      </a>
      <a class="item">
        <h2 class="question-item title">How do I look for a loan?</h2>
        <p class="question-item author">Scott Prue</p>
      </a>
      <a class="item">
        <h2 class="question-item title">How do I look for a loan?</h2>
        <p class="question-item author">Scott Prue</p>
      </a>

    </div>
  </ion-tab>

  <ion-tab title="Dash" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
    <!-- Tab 2 content -->
    <div class="list has-nav-header">

      <div class="bar bar-header bar-md item-input-inset filter-input">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Filter">
        </label>
        <button class="button-clear no-margin">
          <i class="icon ion-ios7-close-outline"></i>
        </button>
      </div>

    </div>
  </ion-tab>
</ion-tabs>
</ion-view>
