<ion-view name="Profile" title="Profile" hide-back-button="false" hide-nav-bar="false">
  <div class="list has-nav-header">
<!--     <label class="item item-input">
      <span class="input-label">Account Provider</span>
      <input type="text" ng-model="user.provider">
    </label> -->
<!--     <label class="item item-input">
      <span class="input-label">Display Name</span>
      <input type="text" ng-model="user.displayName">
    </label> -->
  </div>
  <div class="bottom-container center-text">
    <button class="button button-full button-positive" ng-click="updateProfile()">Save</button>
    <button class="button button-full button-assertive" ng-click="logout()">Sign Out</button>
  </div>
</ion-view>
