<ion-view class="center-text" hide-nav-bar="true">
  <!-- <img ng-src="http://photos-a.ak.instagram.com/hphotos-ak-xfa1/10175362_1398406877113168_621963948_n.jpg" style="width:auto;height:100%"> -->
  
  <img ng-src="{{ picture && picture.uri || 'Click to take a picture' }}" style="width:auto;height:50% margin-top:50%;">
  
  <div class="main-menu" style="height:50%">
    <button ui-sref="inbox" class="button button-block button-pink">Inbox</button>
    <button ui-sref="outbox" class="button button-block button-royal">Outbox</button>
    <button ui-sref="bookmarks" class="button button-block button-calm">Bookmarks</button>
    <button ui-sref="account" class="button button-block button-energized">Account</button>
  </div>

</ion-view>
