<ion-view hide-nav-bar="true">
  <div class="parent" id="homeView">
    <div class="center-text" id="homeLogoContainer">
      <h1>Roup</h1>
      <!-- <img src="img/icon_retina5_144.png"> -->
    </div>
    <div class="bottom-container center-text">
      <button class="button button-block button-assertive button-facebook" ng-click="connectWithProvider('google')">Connect with Google</button>
      <button class="button button-block button-positive button-google" ng-click="connectWithProvider('facebook')">Connect with Facebook</button>
    </div>
  </div>
</ion-view>
