<ion-view title="{{pageTitle()}}" hide-back-button="true" hide-nav-bar="false" ng-controller="HomeCtrl">
  <ion-tabs class="tabs-positive tabs-icon-only" delegate-handle="Main">
  <ion-tab title="Ask" icon-on="ion-ios7-help" icon-off="ion-ios7-help-outline">
    <!-- Tab 1 content -->
    <div class="list has-nav-header">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear no-margin">
          <i class="icon ion-ios7-close-outline"></i>
        </button>
      </div>

      <a class="item">
        <h2 class="question-item title">How do I look for a loan?</h2>
        <p class="question-item author">Scott Prue</p>
      </a>
      <a class="item">
        <h2 class="question-item title">How do I look for a loan?</h2>
        <p class="question-item author">Scott Prue</p>
      </a>
      <a class="item">
        <h2 class="question-item title">How do I look for a loan?</h2>
        <p class="question-item author">Scott Prue</p>
      </a>
    </div>
  </ion-tab>

  <ion-tab title="Dash" icon-on="ion-ios7-speedometer" icon-off="ion-ios7-speedometer-outline">
    <!-- Tab 2 content -->
    <div class="list has-nav-header">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Filter">
        </label>
        <button class="button button-clear no-margin">
          <i class="icon ion-ios7-close-outline"></i>
        </button>
      </div>

    </div>
  </ion-tab>
</ion-tabs>
</ion-view>
