<ion-view title="{{pageTitle()}}" hide-back-button="true" hide-nav-bar="false" >
  <ion-nav-buttons side="left">
    <button class="button button-clear">
      <i class="ion-gear-a nav-icon"></i>
    </button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-positive tabs-icon-top" delegate-handle="Main">
<!--         <button class="button-clear" ng-click="closeModal()" style="position:absolute;right:0;bottom:0;"><i class="ion-ios7-close" style="font-size:28px;"></i></button> -->
  <script class="parent" id="question-view-modal.html" type="text/ng-template">
      <div class="child" style="right:-7px;top:5px;z-index:99">
          <button class="button button-clear button-assertive" ng-click="closeModal()"><i class="ion-ios7-close" style="font-size:32px;"></i></button>
      </div>
      <div class="child center-text">
          <div class="list card">
            <div class="item">
              <h2>{{selected.title}}</h2>
              <p>{{selected.author.displayName}}</p>

            </div>
            <div class="item item-body">
                <div line-graph class="full-image" ></div>
                <p>
                  <p>{{selected.description}}</p>
                </p>
                <p>
                  <a class="subdued">1 Answer</a>
                  <a class="subdued">5 Upvotes</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                  Upvote
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                  Answer
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                  Comment
              </a>
            </div>
          </div>
      </div>
  </script>

<script id="question-create-modal.html" type="text/ng-template" >
  <div class="modal" style="height:100%;" ng-controller="HomeCtrl">
    <div class="bar bar-header bar-clear" style="height:32px !important;">
      <button class="button button-clear button-calm no-margin small-text" ng-click="closeModal()">Cancel</button>
      <button class="button button-clear button-calm no-margin small-text" ng-click="submitQuestion()">Submit</button>
    </div>

    <div class="list" style="padding-top:33px;height:100%;">
      <label class="item item-input">
        <input ng-model="qTitle" type="text" placeholder="Title">
      </label>
      <label class="item item-input" style="height:30%;">
        <textarea ng-model="qDescription" placeholder="Description..." style="height:100%;"></textarea>
      </label>
      <div line-graph style="width:100%; height:300px;"></div>
    </div>

    <div class="item item-avatar">
      <i class="ion-chatbubble-working" style="color:#fff;"></i>
    </div>
  </div>
</script>

  <ion-tab title="Questions" icon-on="ion-ios7-chatbubble" icon-off="ion-ios7-chatbubble-outline">
    <!-- Tab 1 content -->
    <div class="list has-nav-header">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Filter">
        </label>
        <button class="button button-clear no-margin">
          <i class="icon ion-ios7-close-outline"></i>
        </button>
      </div>
      <div ng-repeat="question in questions" ng-class="{active : isSelected(question)}">
        <a class="item question-item" ng-click="viewQuestion(question);">
          <div class="row question-row">
            <div class="dock">
              <div class="row row-dock" style="margin-bottom:.3em;">
                <i class="icon ion-ios7-arrow-up"></i><div class="number number-views">70</div>
              </div>
            </div>
            <div class="column item-details">
              <h2 class="question-item question-title">{{question.title}}</h2>
              <h4 class="question-item question-author">{{question.author.displayName}}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>

  </ion-tab>

  <ion-tab title="Ask" icon-on="ion-ios7-help" icon-off="ion-ios7-help-outline">

    <!-- Create Question Modal -->

    <!-- Tab 2 content -->
    <ion-nav-buttons side="right">
      <button class="button button-clear">
        <i class="ion-search nav-icon"></i>
      </button>
      <button class="button button-clear" ng-click="newQuestion()">
        <i class="ion-plus-round nav-icon"></i>
      </button>
    </ion-nav-buttons>
    <div class="list has-nav-header">
      <!--  Null Item -->
      <a class="item" ng-show="isNull.asks" ng-hide="!isNull.asks" ng-click="newQuestion()">
        <div class="center-text"><h3><i class="icon ion-plus-round"></i>   Click Here to Begin Asking</h3></div>
      </a>
      <div ng-repeat="question in asks" ng-class="{active : isSelected(question)}">
        <a class="item question-item" ng-click="viewQuestion(question);">
          <div class="row question-row">
            <div class="dock">
              <div class="row row-dock" style="margin-bottom:.3em;">
                <i class="icon ion-ios7-arrow-up"></i><div class="number number-views">{{question.response_count || '12'}}</div>
              </div>
              <div class="row row-dock">
                <i class="icon ion-ios7-chatboxes-outline"></i><div class="number number-answers">{{question.view_count|| '1'}}</div>
              </div>
            </div>
            <div class="column item-details">
              <h2 class="question-item title">{{question.title}}</h2>
              <h4 class="question-item author">{{question.author.displayName}}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>

  </ion-tab>

  <script id="question-modal.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar>
        <h1 class="title">Question</h1>
      </ion-header-bar>
      <ion-content style="margin-top:56px !important;">
        <h2>{{selected.title}}</h2>
        <p>{{selected.author.displayName}}</p>
      </ion-content>
    </div>
  </script>

<ion-tab title="Dash" icon-on="ion-ios7-speedometer" icon-off="ion-ios7-speedometer-outline">
<!-- Tab 3 content -->
  <div class="list has-nav-header">
    <div class="bar bar-header item-select">
      <div class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-click="changeMarket()">
        </label>
        <h5 style="margin-top: 15px">All Business</h5>
      </div>
      <select style="margin-top: 5px">
        <option>Evanston</option>
        <option>Ohio</option>
        <option>Mid West</option>
      </select>
    </div>
  </div>

  <ion-content style="margin-top:53px;">
    <div ng-repeat="indicator in data" class="card margin-sm">
      <div class="item item-divider" ng-click="expand = !expand">
        <h2 style="display: inline">{{indicator.indicator}}</h2>
        <div style="float: right">
          <h2 style="display: inline; margin-right: 10px"><strong>{{indicator.market.percent}}</strong></h2><h2 style="display: inline" ng-style="againstMarket(indicator.market.percent, indicator.business.percent)"><strong>{{indicator.business.percent}}</strong></h2>
        </div>
      </div>
      <div style="padding:10px 0px 10px 0px" class="item item-text-wrap" ng-show="expand">
        <div line-graph style="width:100%; height:100px;"></div>
        <p style="margin: 5px 0px 5px 5px; line-height: 15px; font-size: 0.7em; color: gray">This is a basic Card which contains an item that has wrapping text.</p>
      </div>
      <div style="padding:0px" ng-show="expand" class="item item-divider"><button ng-click="newQuestion()" style="margin: 0px" class="button button-full button-calm button-small">Ask A Question!</button></div>
    </div>
  </ion-content>

</ion-tab>
</ion-tabs>
</ion-view>
