<ion-view title="Dashboard" hide-back-button="false" hide-nav-bar="false">

  <div class="list has-nav-header">

    <div class="bar bar-header bar-md item-input-inset filter-input">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Filter">
      </label>
      <button class="button-clear no-margin">
        <i class="icon ion-ios7-close-outline"></i>
      </button>
    </div>

  </div>

  <div id="bottom-nav" class="bottom-container center-text bar bar-positive">
    <button class="button button-clear button-left" ng-click="$state.go('ask');">Ask</button>
    <button class="button button-clear button-right" ng-click="$state.go('dash');">Dash</button>
  </div>

</ion-view>
