<ion-view class="center-text" hide-nav-bar="true">
  <!-- <img ng-src="http://photos-a.ak.instagram.com/hphotos-ak-xfa1/10175362_1398406877113168_621963948_n.jpg" style="width:auto;height:100%"> -->
  <ion-pane style="height:50%;">
    <img ng-src="data:image/png;base64,{{ message.picture.uri}}" style="width:auto;height:100%">
  </ion-pane>

  <ion-pane style="height:50%; margin-top:50%">
    <div class="main-menu">
      <button ng-click="bookmarkMessage()" class="button button-block button-calm">Bookmark</button>
      <button ng-click="likeMessage()" class="button button-block button-royal">Like</button>
      <button ng-click="passMessage()" class="button button-block button-energized">Pass </button>
    </div>
  </ion-pane>


</ion-view>
