<ion-view title="Questions" hide-back-button="false" hide-nav-bar="false">

  <div class="list has-nav-header">

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear no-margin">
        <i class="icon ion-ios7-close-outline"></i>
      </button>
    </div>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2 class="question-item title">How do I look for a loan?</h2>
      <p class="question-item author">Scott Prue</p>
    </a>

  </div>

  <div class="bottom-container center-text bar bar-positive">
    <button class="button button-clear button-left" ng-click="">Ask</button>
    <button class="button button-clear button-right" ng-click="">Dash</button>
  </div>

</ion-view>
