<ion-view class="center-text">
  <nav-view name="content"></nav-view>
  <!-- <div id="bottom-nav" class="bottom-container center-text bar bar-positive">
    <button class="button button-clear button-left" ui-sref="questions">Ask</button>
    <button class="button button-clear button-right" ui-sref="dash">Dash</button>
  </div> -->
  <ion-footer-bar>
    <a class="tab-item" ui-sref="questions">
      Ask
    </a>
    <a class="tab-item" ui-sref="dash">
      Dash
    </a>
  </ion-footer-bar>

</ion-view>
