<ion-view title="Welcome" class="center-text" hide-nav-bar="true">

  <div id="welcome-view" class="vertical-align">
    <h1>Hi {{firstName}}!</h1>
    <h2>Welcome to Roup.</h2>
  </div>

  <div class="bottom-container center-text">
    <button class="button button-block button-connect fill-purple white" ng-click="createNewUser('consumer')">Start as a buyer</button>
    <button class="button button-block button-connect fill-purple white" ng-click="createNewUser('business')">Start as a business</button>
  </div>

</ion-view>
