body {
  color: #000000;
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
h1, h2 {
  font-weight: 200;
}
h1 {
  font-size: 4.5em;
}
h2 {
  font-size: 2.5em;
}

i.nav-icon {
  font-size: 20px !important; 
  margin: 7px;
}

.center-text { text-align: center !important; }
.no-background { background: none !important; }

.ion-view { background-color: #ffffff; }

.fill-half { height: 50%; padding: 0; }
.fill-quad { height: 100%; padding: 0; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.parent {
    position: relative;
    height: 100%;
}
.bottom-container {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}
.avatar-frame{border: 2px solid #c7b89e;}
.avatar-frame,.avatar-frame img{
  width: 72px;
  height: 72px;
  -webkit-border-radius: 36px; /* Saf3+, Chrome */
  border-radius: 36px; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 36px;  Disabled for FF1+ */
  }

.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.bar-auto {
  height: auto !important;
}
.small-text {
  font-size: 14px !important;
}
.button-left{
  width: 49%;
}
.button-right{
  width: 49%;
}

.filter-input {
  padding: 5px;
}
.filter-input label {
}
.filter-input button {
  font-size: 15px;
  height: 100%;
}

#homeView {
  height: 100%;
  width: auto;
}
#homeLogoContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -72px;
  width: auto;
  height: 144px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.question-item{
  font-weight:200;
  padding:0px;
}
.question-row{
  padding:0px;
  height:70px;
}
.question-item .author{
    display:block;
}
.views{
  margin-left: 75%;
}

/*Question items*/
.number{
  font-weight:200;
  font-size: .9em;
  padding-left: .6em;
  padding-right:.6em;
}
.number-answers{
  color:red;
}
.number-views{
  color:green;

}
.dock {
  height:100% !important;
  background-color:#EEEEEE;
  display:inline-block;
  padding:.5em;
  margin-right:.5em;
}
.item-details{
  margin-left:.5em !important;
  padding-top:.8em !important;
}
.row-dock{
  padding:0px;
}
.row-dock i{
  color: #aaaaaa;
  font-size:1.5em
}


.fade-in-out.ng-enter, .fade-in-out .ng-enter {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  position: absolute; }
.fade-in-out.ng-leave, .fade-in-out .ng-leave {
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
  position: absolute; }

