<ion-view hide-back-button-"true">
	  <ion-header-bar class="bar-subheader item-input-inset">
	    <label class="item-input-wrapper">
	      <i class="icon ion-ios7-search placeholder-icon"></i>
	      <input type="search" placeholder="Filter">
	    </label>
	    <button class="button button-clear no-margin">
	      <i class="icon ion-ios7-close-outline"></i>
	    </button>
	    <ion-nav-buttons side="right">
	      <button class="button button-clear" ng-click="newQuestion()">
	        <i class="ion-plus-round nav-icon"></i>
	      </button>
	    </ion-nav-buttons>
	  </ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item class="question-item" ng-repeat="question in questions" ng-click="viewQuestion(question)" ng-class="{active : isSelected(question)}">
		    <div class="row question-row">
		      <div class="dock">
		        <div class="row row-dock" style="margin-bottom:.3em;">
		          <i class="icon ion-ios7-arrow-up"></i><div class="number number-views">{{question.view_count || '12'}}</div>
		        </div>
		        <div class="row row-dock">
		          <i class="icon ion-ios7-chatboxes-outline"></i><div class="number number-answers">{{question.responses_count || '1'}}</div>
		        </div>
		      </div>
		      <div class="column item-details">
		        <h2 class="question-item question-title">{{question.title}}</h2>
		        <h4 class="question-item question-author">{{question.author.displayName}}</h4>
		      </div>
		    </div>
			</ion-item>
		<ion-list>
  </ion-content>

</ion-view>