.top-bar{
  /* Was originally 44px*/
  height: 56px !important;
}
.has-nav-header{
  top:56px !important;
}
.nav-bar .button{
  margin-top:12px;
}
.nav-bar .title{
  margin-top:12px;
}
.bar-header{
  height: 56px !important;
}
.bar-header .button{
  margin-top:12px;
}
.bar-subheader{
  top:56px;
}
